// --------------------------------
// Color Palette
// --------------------------------

$light-blue: #e2f0ff;
$sky-blue: #96dbfa;
$blue: #277df2;
$deep-blue: #243644;
$lime-green: #5de545;
$green: #0f8f0f;
$warm-red: #f0451b;
$red: #b00d0d;
$pastel-red: #c0392b;
$white: #ffffff;
$smoke-white: #f1f1f1;
$chalk: #f7f7f7;
$light-grey: #dddddd;
$whisper-grey: #c9c9c9;
$grey: #aaaaaa;
$nobel-grey: #999999;
$mid-grey: #777777;
$moon-grey: #555555;
$stone-grey: #3a3a3a;
$eclipse-grey: #333333;
$dark-grey: #1f1f1f;
$base-colour: #222222;
$black: #000000;
