{
    "presets": [
        "flow",
        "env",
        "es2016",
        "es2017",
        [
            "es2015",
            {
                "loose": true,
                "modules": false
            }
        ],
        "react",
        "stage-0"
    ],
    "plugins": [
        "syntax-dynamic-import",
        "transform-runtime"
    ],
    "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        }
    }
}