:global {
  body {
    background: cornsilk;
    background-image: url('../images/image-placeholder.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;

    div {
      color: grey;
    }
  }

  .class-btn {
    background: blue;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .divBackgroundColor {
    background: blue;
  }

  .kajsfsdsgfdndas {
    background: blue;
  }

  .kajdfsfgsdafsndas {
    background: blue;
  }

  .kaqweffqjsndas {
    background: blue;
  }

  .kabvzcjsndas {
    background: blue;
  }

  .kajsndadafknackldas {
    background: blue;
  }

  .kajsnmxksdndas {
    background: blue;
  }

  .zmcvmsd {
    background: blue;
  }
}