:global {
  @import './ui/color-palette';

  body {
    background: #1f5c1a;
    background-image: url('../assets/images/image-placeholder.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;

    div {
      color: $colorGrey;
    }

    h1 {
      color: $colorGrey;
      font-weight: bold;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }

  .class-btn {
    background: blue;
    height: 100px;
    width: 100%;
  }

  .Testkajdfsfgsdafsndas {
    background: blue;
  }

  .Bestkaqweffqjsndas {
    background: blue;
  }

  .Zestkabvzcjsndas {
    background: blue;
  }
}
